.bg-accent-green {
  background-color: #44FF01;
}

.bg-gradient-darker-blue {
  background-color: #02044F;
}

.bg-gradient-dark-blue {
  background-color: #241D8C;
}

.border-gradient-dark-blue {
  border-color: #241D8C;
}

.border-gradient-darker-blue {
  border-color: #02044F;
}

.text-accent-green:hover {
  color: #44FF01;
}

.border-accent-green {
  border-color: #44FF01;
}

.text-accent-green {
  color: #44FF01;
}

